# This file is only used if running the server with `npm start` locally.
# For configuring the docker stack, use the docker-compose.yml file.

# Set the server port
PORT=9000

# Limit the allowed package scopes.
# To allow only the @my-scope scope, set this to @my-scope.
# To allow multiple scopes, provide space separated values: `@my-scope @my-other-scope`.
# Omit the value to allow all scopes.
SCOPES=

# Set an origin for requests
ORIGIN=http://localhost

# The URL of the (npm) registry to use
# MAKE SURE TO OMIT THE TRAILING SLASH!
NPM_REGISTRY_URL=https://registry.npmjs.org

# Either set an (bearer) auth token
NPM_AUTH_TOKEN=

# Or use username and password (basic) auth
NPM_AUTH_USERNAME=
NPM_AUTH_PASSWORD=
